.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #302f2f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display {
    margin-bottom: 20px;
    margin-right: 20px;
}

.display input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-align: right;
    color: black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.numBtn {
    background-color: #ccc;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #ddd;
}

.buttons button:active {
    background-color: #aaa;
}
.hiasan{
    position: relative;
    top: 0;
    left: 0;
    display: relative;
    place-items: right;
    margin-bottom: 10px;
}
.opBtn{
    background-color: #f30909;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.acBtn{
    background-color: #ccc;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    grid-column: span 4;
}