.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #131212;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display {
    margin-bottom: 20px;
    margin-right: 20px;
    height: 200px;
}

.display input {
    background-color: #131212;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-align: right;
    color: rgb(0, 0, 0);
    height: 170px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.numBtn {
    background-color: #272626;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:active {
    background-color: #aaa;
}
.hiasan{
    position: relative;
    top: 0;
    left: 125px;
    display: relative;
    place-items: right;
    margin-bottom: 10px;
}
.opBtn{
    background-color: #272626;
    color: #fd7b01;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.puBtn{
    background-color: #272626;
    color: #01fde8;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.clBtn{
    background-color: #272626;
    color: #01fde8;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.prBtn{
    background-color: #272626;
    color: #01fde8;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.rsBtn{
    background-color: #272626;
    color: #fd7b01;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.bcBtn{
    background-color: #272626;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.acBtn{
    background-color: #ccc;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    grid-column: span 4;
}