body{
  background-color: #6b6b6d;
  transition: background-color 0.5s ease-in-out;
}

body.light{
  background-color: #dedbdb;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #22252d;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 235px;
  transition: background-color 0.3s ease-in-out;
}

.btnBackground {
  background-color: #292d36;
  width: 235px;
  padding: 15px 15px 35px 15px;
  border-radius: 30px 25px 30px 20px;
  transform: translate(-15px);
  transition: background-color 0.3s ease-in-out;
}

.btnBackground.light {
  background-color: #f5f5f5;
}

.back {
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  height: 5px;
  width: 115px;
  border-radius: 10px;
  background-color: #464a51;
  transform: translateY(275px);
}

.calculator.light {
  background-color: #ffffff;
}

.display {
  margin-bottom: 20px;
  margin-right: 20px;
  height: 200px;
  bottom: 0px;
}

.displayInput {
  background-color: #22252d;
  width: 100%;
  padding: 10px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  text-align: right;
  color: #fff;
  height: 290px;
  transition: background-color 0.3s ease-in-out;
}

.displayInput.light {
  background-color: #ffffff;
  color: #000;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.numBtn {
  background-color: #272b33;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.numBtn.light {
  background-color: #dedede;
  color: #000;
}

.buttons button:active {
  background-color: #aaa;
}

.jam {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.jam.light {
  color: #22252d;
}


.utility {
  font-size: 8px;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.utility.light {
  color: #22252d;
}

.status {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.hiasan {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  place-items: center;
  margin-bottom: 10px;
  transform: translateY(20px);
}

/* Styles for the toggle button container */
.toggleBtn {
  width: 70px;
  height: 28px;
  background-color: #292d36; /* Dark mode background color (default) */
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  border-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

/* Styles for the toggle button container in light mode */
.toggleBtn.light {
  background-color: #f0f0f0; /* Light mode background color */
}

.toggleBtn .fa-sun{
  color: #6a6c72;
  transition: background-color 0.3s ease-in-out;
}

.toggleBtn .fa-moon{
  color: #292d36;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  transition: background-color 0.3s ease-in-out;
}

.toggleBtn .fa-sun.light{
  color: #292d36;
}

.toggleBtn .fa-moon.light{
  color: #f9f9f9;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e1e1e1;
}

.opBtn {
  background-color: #272b33;
  color: #e16262;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.opBtn.light{
  background-color: #dedede;
}
.cyanBtn{
  background-color: #272b33;
  color: #26dbba;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.cyanBtn.light{
  background-color: #dedede;
}

